##############################
# LaTeX
##############################
*.aux
*.fdb_latexmk
*.log
*.bbl
*.blg
*.fls
*.pdf
*.synctex.gz
*.synctex.gz(busy)
*.toc

##############################
# Plots
##############################
!figures/*.pdf