<section fxLayout fxLayoutAlign="center" class="container">
  <mat-card fxFlex="100">
    <mat-card-title>Dashboard</mat-card-title>
    <mat-card-content>
      <p>
        Welcome to our Docker Dashshboard.
      </p>
      <p>
        You can do the following:
      </p>
      <ul>
        <li>
          Services
          <ul>
            <li>Visualize the services running in the Docker Swarm.</li>
            <li>Create new services.</li>
            <li>Scale existing services.</li>
            <li>Delete a service.</li>
          </ul>
        </li>
        <li>
          Events
          <ul>
            <li>Visualize the events occuring internally to Docker Swarm, in real time.</li>
          </ul>
        </li>
        <li>
          Users
          <ul>
            <li>Visualize the users in the system.</li>
            <li>Create new users.</li>
            <li>Add or remove permissions.</li>
            <li>Delete users.</li>
          </ul>
        </li>
      </ul>

    </mat-card-content>
  </mat-card>
</section>