<mat-toolbar color="primary" *ngIf="show | async">
  <a mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    <span fxShow fxHide.xs="true">Home</span>
  </a>
  <a mat-button routerLink="/components">
    <mat-icon>apps</mat-icon>
    <span fxShow fxHide.xs="true">Components</span>
  </a>
  <a mat-button routerLink="/events">
    <mat-icon>history</mat-icon>
    <span fxShow fxHide.xs="true">Events</span>
  </a>
  <a mat-button routerLink="/users">
    <mat-icon>supervisor_account</mat-icon>
    <span fxShow fxHide.xs="true">Users</span>
  </a>
  <span class="flex-spacer"></span>
  <a mat-button routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    <span fxShow fxHide.xs="true" fxHide.sm="true">Profile</span>
  </a>
  <button mat-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span fxShow fxHide.xs="true" fxHide.sm="true">Logout</span>
  </button>
</mat-toolbar>