<mat-toolbar color="primary" *ngIf="show$ | async">
  <a mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    <span fxShow fxHide.xs="true">Home</span>
  </a>
  <a mat-button routerLink="/services" *ngIf="showServicesButton$ | async">
    <mat-icon>apps</mat-icon>
    <span fxShow fxHide.xs="true">Services</span>
  </a>
  <a mat-button routerLink="/events" *ngIf="showEventsButton$ | async">
    <mat-icon>history</mat-icon>
    <span fxShow fxHide.xs="true">Events</span>
  </a>
  <a mat-button routerLink="/users" *ngIf="showUsersButton$ | async">
    <mat-icon>supervisor_account</mat-icon>
    <span fxShow fxHide.xs="true">Users</span>
  </a>
  <span class="flex-spacer"></span>
  <button mat-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span fxShow fxHide.xs="true" fxHide.sm="true">Logout ({{username$ | async}})</span>
  </button>
</mat-toolbar>
