<mat-table #table [dataSource]="dataSource">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
  </ng-container>

  <!-- Timestamp Column -->
  <ng-container matColumnDef="timestamp">
    <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.timestamp}} </mat-cell>
  </ng-container>

  <!-- Component Column -->
  <ng-container matColumnDef="component">
    <mat-header-cell *matHeaderCellDef> Component </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.component}} </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>