<mat-table #table [dataSource]="dataSource">

  <!-- Timestamp Column -->
  <ng-container matColumnDef="timestamp">
    <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.time * 1000 | date:'medium'}} </mat-cell>
  </ng-container>

  <!-- Service Column -->
  <ng-container matColumnDef="service">
    <mat-header-cell *matHeaderCellDef> Service </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.service}} </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
  </ng-container>

  <!-- Host Column -->
  <ng-container matColumnDef="host">
    <mat-header-cell *matHeaderCellDef> Host </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.host}} </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>