<section>
    <mat-card *ngIf="!(fetching$ | async)">
        <mat-card-title>Users</mat-card-title>
        <mat-card-content>
            <app-users-table [currentUser]="currentUser$ | async" [fetching]="fetching$ | async" [error]="error$ | async" [users$]="users$"
                (changePermission)=changePermission($event) (deleteUser)="deleteUser($event)">
            </app-users-table>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/users', 'new']">
                <mat-icon>edit</mat-icon>
                <span fxShow fxHide.lt-mat="true">New User</span>
            </button>
        </mat-card-actions>
    </mat-card>
    <div *ngIf="fetching$ | async" fxLayout fxLayoutAlign="center center" class="container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</section>