<section fxLayout fxLayoutAlign="center" class="container">
    <mat-card *ngIf="!(fetching$ | async)" fxFlex="100">
        <mat-card-title>Users</mat-card-title>
        <mat-card-content>
            <app-users-table [currentUser]="currentUser$ | async" [fetching]="fetching$ | async" [error]="error$ | async" [users$]="users$"
                (changePermission)=changePermission($event) (deleteUser)="deleteUser($event)">
            </app-users-table>
        </mat-card-content>
        <mat-card-actions>
            <button [routerLink]="['/users', 'new']" mat-fab color="primary" class="add-button">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <div *ngIf="fetching$ | async" fxLayout fxLayoutAlign="center center" class="container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</section>