<mat-card>
  <mat-card-title>
    Update Service
  </mat-card-title>
  <mat-card-content>
    <form #updateServiceForm="ngForm" (ngSubmit)="onServiceUpdateSubmit(updateServiceForm.value)">
      <p>
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Name:" name="name" disabled [value]="id">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Image:" name="image" ngModel required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Replicas (integer):" name="replicas" ngModel required>
        </mat-form-field>
      </p>
      <p>
        <button mat-raised-button color="primary" type="submit">Update this Service</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>