<md-table #table [dataSource]="dataSource">

  <!-- ID Column -->
  <ng-container mdColumnDef="id">
    <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
    <md-cell *mdCellDef="let row"> {{row.id}} </md-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container mdColumnDef="name">
    <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
    <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
  </ng-container>

  <!-- Usernam Column -->
  <ng-container mdColumnDef="username">
    <md-header-cell *mdHeaderCellDef> Username </md-header-cell>
    <md-cell *mdCellDef="let row"> {{row.username}} </md-cell>
  </ng-container>

  <!-- Permissions -->
  <ng-container mdColumnDef="permissions">
    <md-header-cell *mdHeaderCellDef> Permissions </md-header-cell>
    <md-cell *mdCellDef="let row">
      <md-chip-list>
        <md-chip *ngFor="let privilege of row.privileges">
          {{privilege}}
        </md-chip>
      </md-chip-list>
    </md-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>

</md-table>